.left-half {
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 50%;
}

.video {
	width:100%;
}

.imgBlock { 
  border: 3px solid white;
  float:left; 
  padding-left:10px;
  padding-right:10px;
} 

.imgBlock:hover { 
  border: 3px solid black; 
} 

.tabcontent {
	padding: 10px;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
}